:root{ /*Variables*/
    --orange-light: #fc8c41 ;
    --orange-ok: #EF6E16 ;
    --orange-dark:#DB5203;
    --off-white: #faf8f7;
    --softpaq-blue-ligth: #005bb9;
    --gray-dark: #343a40;
    --gray-soft:#6c757d;
    --soft-purple: #584469;
}
*{ /*Quitar configuraciones por defecto del navegador*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.7%; /*?para hacer uso del rem y no de px*/
    font-family: 'Roboto', sans-serif; /*Font por defecto*/
    /*font-family: 'Inter', sans-serif; */
    scroll-behavior: smooth;
    background-color: #fff;
}
section
{
    width: 100%;
    text-align: center;
}
h1
{
    color: white;
    font-size: 40px;
}
h2
{
    color: black;
    font-size: 35px;
}
h3
{
    font-size: 25px;
}
p
{
    color: var(--gray-dark);
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}
i
{
    color: white;
    font-size: 40px;
    text-align: center;
}
li
{
    color: black;
    font-size: 20px;
    line-height: 35px;
    text-align: left;
    list-style: square inside url(assets/icons/Palomita-verde-II.webp);
    list-style-type: style size;
}
/*Header*/
header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;   
    width: 100%;
    height: 100px;
    text-align: center;
    background-image:linear-gradient(93deg, #000046 0%, #0087BD 41%, #000046 90%);
}
header img{
    width: 200px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}
/*Wallpaper*/
.wallpaper
{
    height: 400px;
    background-image: url("assets/img/wallpaper--2.webp");
}
.wallpaper--text img
{
    width: 400px;
    margin: 10px auto;
}
.wallpaper--text {
    background-color: rgba(255, 255, 255, .9);
    display: inline-block;   
    margin-top: 120px;
    padding: 15px 5px;
    border-radius: 15px;
    
}
.wallpaper--text span
{
    display: initial;
    color: var(--soft-purple);
     padding: 15px;
    /*text-shadow: 2px 2px 6px white;
    background-color: white; */
}
h1 span
{
    font-size: 20px;
    font-weight: 500;
}
/*Demo*/
.demo
{    
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    margin: 50px auto;
    justify-content: center;
}
.demo--image img
{
    width: 400px;
    height: auto;
    animation-name: fadeInImage;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    filter: none;
}
.demo--text , .div-text
{
    width: 50%;
    max-width: 600px;
    margin: 15px 30px;
}
.demo--text h2
{
    color: var(--orange-ok);
}
.demo--text h2 span
{
    color: var(--gray-dark);
}
.button1, .button2
{
    margin: 30px auto;
    background-color: var(--orange-dark);
    border-radius: 12px;
    padding: 20px;
    border: none ;
    color: white;
    font-size: 18px;
}
.button1:hover, .button2:hover
{
    background-color: var(--soft-purple);
    transition: 0.4s;    
    cursor: pointer;        
}
a{
    cursor: pointer;
}
/*Video*/
.video--section{    
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: var(--orange-ok);
    padding: 20px 80px;
}
.video
{
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
}
.video--section h2
{
    font-weight: 600;
    color: white; 
    padding: 20px 10px; 
}

.video--div
{
    margin: 0 auto;
    width: 50%;
}

.video--div iframe {
    display: inline-block;
        margin: 0 auto;
        width: 90%;
        max-width: 560px;
        height: calc(100vw * .5);
        max-height: 315px;
}


.video--text, .video--text table
{
    width: 70%;
    margin: 0 auto;
}
.video--text .divisor
{
    text-align: center;
}
.video--text p
{
    color: white;
    line-height: 25px;
    font-weight: 300;
}
#icon
{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";    
}
.video--text table
{
    display: inline-block;
    width: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    border: 1px solid white;
    padding: 15px;
}
.video--text table tr
{
    width: 50%;
    padding: 50px;
    height: 120px;
}
.video--text table tr td p
{
    text-align: center;
    line-height: 25px;
}
.functions
{    
    height: auto;
    background-image: url("assets/img/wall-purple-II.webp");
    padding-top:30px;
    padding-bottom: 30px;
}
.functions--text
{
    width: 75%;
    margin: 0 auto;
}
.separator
{
    display: none;
    width: 50%;
    height: 1px;
    background-color: white;
}
.functions--cards
{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px 50px;
    align-content: center;
    justify-content: center;
    
    margin: 30px auto;
}
.functions--text h2, .functions--cards, .functions--cards p
{
    color: white;
}
.functions--cards div h3
{
    line-height: 50px;
}
.functions--cards p
{
    font-weight: 300;
}
.functions--cards--card1, .functions--cards--card2, .functions--cards--card3, .functions--cards--card4, .functions--cards--card5, .functions--cards--card6
{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 300px;
}
.datasheet
{
    width: 80%;
    margin: 50px auto;
}
.datasheet button i
{
    font-size: 20px;
}
/*Slider*/
.slider1 h2
{
    color: white;
    font-size: 40px;
    padding: 45px;

}
.slider1{
    height: 500px;
    margin: 0 auto;
    background-color: var(--orange-ok);
}
.w3-content, .w3-display-container
{
    width: 60%;
    height: 100px;
    margin: 0 auto;
}
.w3-tooltip, .w3-display-container {
    position: relative;
}
.w3-btn, .w3-button {
    user-select: none;
}
.w3-black, .w3-hover-black:hover {
    color: #fff !important;
    background-color: rgb(54, 54, 54) !important;
}
.w3-display-left {
    position: absolute;
    top: 150%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
.w3-display-right {
    position: absolute;
    top: 150%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.slide1
{
    padding: 20px;
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: 300px;
    background-color: white;
    border: 8px solid var(--orange-dark);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.mySlides--slider-text
{
    width: 50%;
    margin: 0 55px;
    text-align: left;
    font-size: 40px;
}
.mySlides--slider-text span
{    
    font-size: 15px;
}

.mySlides--slider-img
{
    width: 50%;
}
.mySlides--slider-img img
{
    width: 70%;
    box-shadow: 5px 5px 10px rgb(129, 129, 129);
}
/*Why*/
.why{
    margin: 50px auto;
    width: 100%;    
}
.why-div-cards
{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.why h2
{
    color: var(--soft-purple);
    padding: 30px;
}
.why--card
{
    display: inline-block;
    background-color: var(--orange-ok);
    border-radius: 10px;
    width: 300px;
    height: 350px;
    padding: 25px 20px;
    margin: 20px 22px;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.unusual-card i
{
    font-size: 30px;
}
.why--card:hover
{
    background-color: var(--soft-purple);
    transition: 0.5s;
}
.why--card p
{
    font-weight: 300;
    color: white;
}
.why--card i
{
    font-size: 60px;
    line-height: 80px;
}
.why--card h3{
    color: white;
}
.price
{
    padding: 100px 0;
    height: auto;
    background-image: url(assets/img/wall-purple-II.webp);
}
.price h2{
    color: white;
}
/*Slider2*/
.w3-content2, .w3-display-container2
{
    width: 50%;
    height: 600px;
    margin: 0 auto;
}
.slide2
{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    width: 100%;
    height: auto;
    background-color: white;
    border: 8px solid var(--orange-dark);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.mySlides2--slider2-title
{
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 20px;
}
/*Slider2, slide1*/
.mySlides2--slider2-title h3
{
    font-size: 45px;
}
.mySlides2--slider2-title h3 span
{
    font-size: 25px;
}
.mySlides2--slider2-title p, .mySlides2--slider2-title span{
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}
.mySlides2--slider2-title .green
{
    color: green;
}
.mySlides2--slider2-title .MXN
{
    font-size: 25px;
}
.mySlides2--slider2-title .IVA
{
    font-size: 20px;
    color: #858585;
}
.mySlides2--slider2-title .Meses
{
    font-size: 20px;
    color: green;
}
.mySlides2--slider2-title .promo
{
    font-size: 15px;
}
.mySlides2--slider2-text
{
    width: 40%;
    margin: 0 55px;
    text-align: left;
    font-size: 40px;
}
.mySlides2--slider2-text ul li span
{    
    color: var(--orange-ok);
    font-weight: 700;
}
.mySlides2--slider2-text2 ul li .mini
{    
    font-size: 15px;
}
/*Slider 2,slide 2*/
.mySlides2--slider2-title .orange
{
    color: var(--orange-ok);
    
}
.mySlides2--slider2-text ul li .green
{
    color: green;
    font-weight: 700;
}

.mySlides2--slider2-text2
{
    width: 40%;
    margin-bottom: 15px;
}

.w3-display-left2 {
    position: absolute;
    left: 25%;
    transform: translateY(-320px);
}
.w3-display-right2 {
    position: absolute;
    right: 25%;
    transform: translateY(-320px);
}
/*Form and Footer*/
.form
{
    margin: 0px auto;
    background-color: var(--orange-light);
    padding: 20px 0px;
}
.footer-image
{
    background-color: var(--orange-light);
}

footer{
    width: 100%;
    height: auto;
    background-color: #005bb9;
    text-align: center;
    margin: 0 auto;
    padding-bottom:10px ;
}
.footer-decoration {
    position: relative;
    top: 0px;
    display: block;
    width: 100%;
    z-index: 1;
}
.footer--table
{
    
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
footer table
{
    color: white;
    margin: 0 auto;
}
.footer--softpaq
{
    width: 200px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding-left: 35px;
}
.footer--table--icons
{
    display: inline-block;
    margin: 0 auto;
}
.footer--fb-icon
{
    width: 60px;
    height: 60px;
    margin: 10px;
}
.footer--table--footer 
{
    line-height: 25px;
    color: white
}
.footer--table--footer a
{
    color: white;
}
.footer--table--footer h3
{
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
}
/*Responsive*/
@media only screen and (max-width: 799px) 
{
    .wallpaper{
        height: 300px;
    }
    .wallpaper--text img
    {
        width: 90%;
    }
    .wallpaper--text {
        margin: 50px auto;
        width: 80%;
    }
    h1
    {
        
    }
    h2
    {
        color: black;
        font-size: 30px;
    }
    .wallpaper--text h1
    {
        line-height: 32px;
        padding-right: 5px;
    }
    .demo{
        display: inline-block;
        margin: 20px auto;
        width: 100%;
    }
    .demo--image img
    {
        width: 300px;
        margin: 0 auto;
    }
    .demo--text
    {
        width: 80%;
        margin: 10px auto;
    }
    .video
    {
        display: inline-block;
        margin: 0 auto;
        width: 95%;
    }
    .video--section
    {
        padding: 20px 0px;
    }
    .video--div
    {
        margin: 0 auto;
        width: 100%;
    }
    .video--div iframe
    {
        display: inline-block;
        margin: 0 auto;
        width: 90%;
        max-width: 560px;
        height: calc(100vw * .5);
        max-height: 315px;
    }
    .video--text, .video--text table
    {
        width: 100%;
        margin: 0 auto;
    }
    .separator
    {
        display: inline-block;
        width: 50%;
        height: 1px;
        background-color: white;
        margin: 10px;
    }
    .functions--cards
    {
        width: 70%;
        margin: 30px auto;
    }
    .functions--text h2, .functions--cards, .functions--cards p
    {
        color: white;
    }
    .functions--cards div h3
    {
        line-height: 50px;
    }
    .functions--cards p
    {
        font-weight: 300;
    }
    .functions--cards--card1, .functions--cards--card2, .functions--cards--card3, .functions--cards--card4, .functions--cards--card5, .functions--cards--card6
    {
        margin: 20px auto;
        max-width: 400px;
    }
    .why-div-cards
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: scroll;
        margin: 20px auto;
    }
    .why--card
    {
        display: flex;
        flex-direction: column;
        margin: 20px 30px;
        height: 350px;
        flex-shrink: .8;
        border-radius: 20px;
    }
    .why--card p, .why--card i, .why--card h3
    {
        padding: 10px;
        width: 280px;
        
    }
    .why-div-cards
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
   
    .slide1{
        flex-direction: column;
        padding: 40px 0px;
        height: 800px;
    }
    .w3-content , .w3-display-container
    {
        width: 100%;
    }
    .mySlides--slider-text
    {
        width: 80%;
        margin: 0 15px;
    }
    .mySlides--slider-img{
        width: 80%;
        margin: 20px 0;
    }
    .mySlides--slider-text h3
    {
        text-align: center;
    }
    .w3-display-left {
        top: 200%;
    }
    .w3-display-right {
        top: 200%;
    }
    .slide2
    {
        width: 100%;
        padding: 10px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .w3-content2, .w3-display-container2
    {
        width: 100%;
        height: auto;
    }
    .mySlides2--slider2-text, .mySlides2--slider2-text2 {
        width: 90%;
        margin: 0 55px;
        text-align: left;
        font-size: 40px;
    }
    .w3-display-right2 {        
        right: 0%;
        transform: translateY(-320px);
    }
    .w3-display-left2 {        
        left: 0%;
        transform: translateY(-320px);
    }
    li {
        color: black;
        font-size: 15px;
        line-height: 25px;
        text-align: left;
        list-style: square inside url(assets/icons/Palomita-verde-II.webp);
        list-style-type: style size;
      }
}
/* Tablet */
@media only screen and (max-width: 1218px) 
 {
    .slider1
    {
        height: 750px;
    }
    .slide1{
        height: 550px;
    }
    .w3-content , .w3-display-container
    {
        width: 100%;
    }
    .mySlides--slider-text
    {
        width: 80%;
        margin: 0 15px;
    }
    .w3-display-left {
        top: 250%;
    }
    .w3-display-right {
        top: 250%;
    }
    .slide2
    {
        width: 100%;
        padding: 10px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .w3-content2, .w3-display-container2
    {
        width: 100%;
        height: auto;
    }
    .mySlides2--slider2-text, .mySlides2--slider2-text2 {
        width: 90%;
        margin: 0 55px;
        text-align: left;
        font-size: 40px;
    }
    .w3-display-right2 {        
        right: 0%;
        transform: translateY(-320px);
    }
    .w3-display-left2 {        
        left: 0%;
        transform: translateY(-320px);
    }
}